body {
  background-color: #2c3e50;
}

* {
  border-radius: 0 !important;
}

.navbar {
  margin-bottom: 0;
  font-weight: normal;
}

.center {
  text-align: center;
}

.navbar.navbar-default {
  margin-bottom: 0;
}

header .container {
  padding-top: 60px;
}

.summary {
  margin: 0 0 40px 0;
}

.callout {
  margin-top: 40px;
}

.success a {
  color: white;
  text-decoration: underline;
}

pre {
  background-color: white;
}

section.footer {
  padding: 10px 0;
}

section.footer p {
  font-size: 0.7em;
  margin: 0;
}

img {
  max-width: 100%;
}

.page h2 {
  margin-top: 80px;
  text-transform: none;
}

.page pre {
  max-width: 700px;
  margin: 40px 0;
}

.page h3 {
  text-transform: none;
}

.page h4 {
  margin-top: 20px;
  text-transform: none;
}

.page .alert {
  margin-left: 0;
  max-width: 700px;
  padding-bottom: 15px;
}

.page p {
  margin-bottom: 40px;
  max-width: 700px;
}

.page li {
  max-width: 700px;
}

.records-list {
  font-family: monospace;
  background-color: white;
  padding-left: 14px;
}

.records-list .object-view .object-view-title {
  background-color: red;
  color: white;
}

.records-list .object-view .object-view-entry span {
  display: inline-block;
}

.records-list p {
  font-size: 15px;
}

.primitive-number {
  color: blue;
}

.primitive-string {
  color: green;
}

.indent {
  margin-left: 20px;
}

.object-view-entry-key {
  margin-right: 10px;
  font-weight: bold;
}

.expander-container {
  position: relative;
}

.expander-container .expander {
  position: absolute;
  left: -10px;
  top: 0;
  cursor: pointer;
}

.knex-version {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.sql-view {
  padding: 10px;
  border: 1px solid grey;
}

.sql-view .sql-view-header {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

.examples {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.examples h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.examples .example {
  cursor: pointer;
  margin: 10px 0;
}

.examples .example .example-model {
  display: inline-block;
  font-weight: bold;
  width: 60px;
  text-align: right;
  margin: 2px 10px 2px 30px;
}

.examples .examples-tagline {
  margin-left: 10px;
  font-size: 0.5em;
  font-style: italic;
}

.examples .expander {
  color: #2c3e50;
}

.hydration-error {
  color: #ff6464;
  padding: 20px;
  margin: 20px;
  background-color: #EFEFEF;
  border: 1px solid #444;
  text-align: center;
  width: calc(100% - 40px);
}

.hydration-display {
  padding: 0px 20px 20px 20px;
  background-color: #DDD;
}

.hydration-display .hydration-display-title {
  margin-top: -10px;
  margin-bottom: 10px;
  color: #BBB;
}

.hydration-input {
  text-align: center;
  background-color: #2c3e50;
  padding: 20px;
}

.hydration-input span.code {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hydration-input input {
  font-size: 20px;
}

.hydration-input select {
  font-size: 20px;
}

.intro {
  background-color: rgb(241, 255, 124);
  padding: 10px;
}

.intro p {
  font-size: 14px;
  margin: 0;
}

header.db-schema {
  padding: 40px 0;
}

header.db-schema.collapsed {
  padding: 0;
}

header.db-schema p {
  margin-bottom: 20px;
}

header.db-schema .expander {
  color: white;
}

.half {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}

.expander {
  cursor: pointer;
}

.examples {
  text-align: left;
  background-color: white;
}

.examples h3 {
  display: inline-block;
  margin-right: 10px;
}

.alert {
  margin: 40px;
  padding-bottom: 40px;
}

.alert h3 {
  text-transform: none;
}